body {
  font-family: 'Poppins', sans-serif;
  background-color: #D6FFEE;
  margin: 0;
  padding: 0;
}

.navv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
  padding: 2em;
  background: linear-gradient(to right, #05A461, #001606);
  height: 60px; 
  width: 95%;
  border-radius: 10px;
  color: white;
  position: static;
  z-index: 1;
}

.navv ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0; 
  padding: 0; 
}

.navitems {
  padding-right: 2em;
}

.navitems a {
  color: inherit;
  text-decoration: none;
}

.navitems a:hover {
  color: black;
  text-decoration: none;
}

.name {
  font-size: 60px;
  font-weight: bolder;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  margin-left: 2em;
  height: 60vh;
}

.roles {
  color: #05A461;
}

.button {
  margin-top: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black;
  background-color: #D6FFEE;
  color: black;
}

.btn:hover {
  background-color: #001606;
  color: white;
}

.left {
  float: left;
  width: 60%;
}

.right {
  float: right;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
  width: 90%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em;
}

.footeritems {
  display: inline;
  margin-right: 2em;
  list-style-type: none;
}

.footeritems a {
  color: #05A461;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.card-container {
  padding: 20px;
}

.grid {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease;
}

.card:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2), 0px 8px 12px rgba(0, 0, 0, 0.1);
  border: none;
}

.card img {
  width: 50px;
  height: 50px;
}

.card p {
  margin-top: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.burger {
  display: none;
  
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: 0.3s;
}

.cardContain {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  height: 250px;
  width: 95%;
  transition: box-shadow 0.3s ease;
}

.cardContain:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4), 0px 12px 24px rgba(0, 0, 0, 0.3);
  border: none;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 30%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  float: right;
  width: 70%;
}

.cardContain img {
  width: 80%;
  height: 85%;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 8px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.cardContain img:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4), 0px 12px 24px rgba(0, 0, 0, 0.3);
}

.cardContain h2 {
  font-weight: bold;
  margin: 10px 0;
  text-align: left;
}

.cardContain p {
  margin: 10px 0;
  text-align: left;
  font-size: 14px;
}

.cardContain a {
  display: inline-block;
  margin-top: 10px;
  color: #05A461;
  font-weight: bold;
  text-decoration: none;
}

.cardContain a:hover {
  text-decoration: underline;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2;
  width: 98%;
  padding: 3em;
}

.contactDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4em;
}

.contactleft {
  float: left;
  width: 40%;
}

.contactleft h1 {
  font-weight: bold;
}

.contactleft a {
  color: #05A461;
}

.contactright {
  text-align: right;
  float: right;
  width: 60%;
}

@media (max-width: 1200px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}





@media (max-width: 900px) {
  .navitems a {
    font-size: 15px;
  }

  .left {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .name {
    font-size: 30px;
    text-align: center;
  }

  .button {
    text-align: center;
  }

  .roles {
    font-size: 20px;
    text-align: center;
  }

  .right {
    width: 100%;
    justify-content: center;
  }

  .right img {
    height: 400px;
  }

  .aboutMe p {
    font-size: 12px;
  }

  .main {
    flex-direction: column-reverse;
    height: 100vh;
  }
 
.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.card-container {
  padding: 20px;
}

.grid {
  gap: 8px;
}

.card {
  width: 80px;
  padding: 10px;
}

}





@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .main {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .left, .right {
    width: 100%;
    text-align: center;
    margin: 0;
    height: 100vh;
  }

  .right img{
    width: 300px;
    height: 250px;
  }

  .footeritems{
    font-size: 10px;
  }
  .projects {
    width: 100%;
  }


.card-container {
  padding: 20px;
}

.card {
  width: 100%;
}

.card img {
  width: 40px;
  height: 40px;
}


}


@media (max-width: 500px) {
  body {
    padding: 0.6em;
  }

  .navv {
    width: 100%;
    margin: 0;
    padding: 10px;
    height: 40px;
  }

  .navv ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #05A461, #001606);
    padding: 1em;
    border-radius: 0 0 10px 10px;
  }
  
  .navv ul.show {
    display: flex;
  }

  .burger {
    display: block;
    cursor: pointer;
    flex-direction: column;
  }

  .burger div{
    width: 15px; 
    height: 1px; 
  }

  .navitems a {
    font-size: 18px;
    padding: 10px;
  }

  .main {
    flex-direction: column-reverse;
    height: 100vh;
    margin: 0;
  }

  .name {
    font-size: 20px;
  }

  .roles {
    font-size: 18px;
  }

  .projects {
    width: 100%;
  }

  .cardContain {
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: auto;
    text-align: center;
  }

  .cardContain img {
    width: 100%;
  }

  .img, .info {
    width: 100%;
  }

  .info{
    font-size: 8px;
    margin: 0.6em;
  }

  .info h2{
    font-size: 12px;
  }
  .info p{
    font-size: 8px;
  }

  .contactDiv {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .contactleft{
    width: 80%;
    text-align: center;
    margin-top: 1em;
  }
  .contactleft h1{
    font-size: 15px;
  }

  .contactleft p{
    font-size: 10px;
  }


  .contactright img{
    text-align: center;
    height: 120px;
    width: 150px;

  }

  .card-container {
    padding: 20px;
  }
  
  .card {
    width: 100%;
  }
  
  .card img {
    width: 20px;
    height: 20px;
  }

  .card-container h2{
    font-size: 12px;
  }
  
}

